# Set line endings to auto
* text=auto

# Git LFS Settings

[attr]media filter=lfs diff=lfs merge=lfs -text

## Images
*.gif media
*.jpeg media
*.jpg media
*.png media
*.webp media

## Audio
*.mp3 media

## Video
*.mp4 media
*.webm media

## Documents
*.pdf media
